.edit-toy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.edit-toy-form input {
    display: inline-block;
    margin-left: 50%;
    translate: -50%;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    width: 30rem;
    font-size: 1.3rem;
}

.edit-toy-footer button,
.edit-toy-footer a {
    border: 1px solid black;
    border-radius: 3rem;
    background-color: transparent;
    padding: 0.6rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-inline: 1rem;
}