.add-toy {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 1rem;
    width: 10rem;
    text-align: center;
}

.toy-preview {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    /* background-color: aliceblue; */
    margin-block: 0.5rem;
    width: 30rem;
}

.toy-preview button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.toy-preview-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.toy-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.toy-article h1 {
    font-size: 1.5rem;
}

.toy-article h4 {
    margin-right: 0;
    min-width: 5rem;
    cursor: pointer;
}

.toy-article img {
    width: 100px;
}

.toy-article p {
    position: absolute;
    right: 13rem;
    font-size: 0.8rem;
}

.toy-article .true {
    color: rgb(61, 180, 61);
    text-decoration: line-through;
}